body {
    background-color: gold;
}

a {
    text-decoration: none;
    color: red;
    transition: 350ms;
}

a:hover {
    color: blue;
}

.active {
    color: red;
}

h1 {
    text-shadow: 2px 2px 5px red;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu {
  float: left;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menu a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.evszak {
  float: left;
}